#organization-info {
    width: 100%;
    margin: 10px 0;
}
                    // ^conflicts w/ duke


#organization-body {
    float: left;
}

#organization-visualizations {
    width: 20%;
    padding: 10px;
    float: right;
}
                    // ^conflicts w/ duke


#orgNavigation {
    margin: 0;
}
                    // ^conflicts w/ duke


#orgNavigation a.organization {
    margin-left: 1.250em;
}
                    // ^conflicts w/ duke


#orgNavigation a.parent {
    margin-left: 0;
}

#orgNavigation ul {
    margin: 0;
    padding: 0.25em .5em;
}

#orgNavigation li {
    padding: 0.25em  .5em;
    border-top: 1px solid #BBBBBB;
}
                    // ^conflicts w/ duke


#orgNavigation a {
    text-decoration: none;
}

#orgNavigation img {
    vertical-align: middle;
}

#orgNavigation a.organization {
    padding-left: 0.25em;
}

#orgNavigation a.organization:hover {
    text-decoration: underline;
}

#organization_people {
    border-top: 1px solid #BBBBBB;
}

#individual-organizationForPosition li {
    padding: 0.25em 1em;
    border-top: 1px solid #BBBBBB;
}

#individual-administers {
    padding: 0.25em 2em;
}