#modal {
  width:300px;
  border: solid 2px #c7c9ca;
  position:absolute;
  padding:8px;
  background-color:#FFF;
  -moz-border-radius: 5px;
  border-radius: 5px
}

#modal .action {
  display: block;
  padding: 4px;
  border: solid 2px #c7c9ca;
  width: 200px;
  text-align: center;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #2485AE;
  font-weight: bold;
}

#close {
  display: block;
  float: right
}

.body ul {
  width: 575px
}

#modal ul {
  margin: 2px;
  padding: 2px;
}

.overview-value ul li, .officehours-value ul li, .research-interests-value ul li, .clinicalOverview-value ul li, .academicOverview-value ul li, .teachingOverview-value ul li, .leadershipPositions-value ul li, .mentorOverview-value ul li, .description-value ul li {
  list-style-type: disc;
  margin-left: 14px;
}

.overview-value ol li, .officehours-value ol li, .research-interests-value ol li, .clinicalOverview-value ol li, .academicOverview-value ol li, .teachingOverview-value ol li, .leadershipPositions-value ol li, .mentorOverview-value ol li, .description-value ol li {
  list-style-type: decimal;
  margin-left: 14px;
}

.research-interests-value {
  line-height: 1.3em;
  font-size: 15px;
}

.overview-value ol, .officehours-value ol, .research-interests-value ol, .description-value ol {
  margin-left: 4px;
}

.clinicalOverview-value ol, .academicOverview-value ol, .teachingOverview-value ol, .leadershipPositions-value ol, .mentorOverview-value ol {
  margin-left: 16px;
}

li {
  list-style-type: none;
}

textarea#embed {
  width: 90%;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #c7c9ca;
  padding: 3px;
  margin-bottom: 3px
}

#embedDescription {
  background-color: #DCE4E3;
  margin-right: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #c7c9ca;
  margin-bottom: 3px
}
