#modal {
  width:300px;
  border: solid 2px #c7c9ca;
  position:absolute;
  padding:8px;
  background-color:#FFF;
  -moz-border-radius: 5px;
  border-radius: 5px
}

#modal .action {
  display: block;
  padding: 4px;
  border: solid 2px #c7c9ca;
  width: 200px;
  text-align: center;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #2485AE;
  font-weight: bold;
}

#close {
  display:block;
  float:right
}

.body ul {
  width:575px
}

#modal ul {
  margin:2px;
  padding:2px
}

.overview-value li {
  list-style-type: decimal;
  margin-left: 14px;
}

.overview-value ol {
  list-style-type: decimal;
}

.officehours-value li {
  list-style-type: decimal;
  margin-left: 14px;
}

.officehours-value ol {
  list-style-type: decimal;
}

.research-interests-value {
  line-height: 19.5px;
}

.research-interests-value li {
  list-style-type: decimal;
  margin-left: 14px;
}

.research-interests-value ol {
  list-style-type: decimal;
}

.individual-academicOverview {
  line-height: 19.5px;
}

.individual-academicOverview li {
  list-style-type: decimal;
  margin-left: 14px;
}

.individual-academicOverview ol {
  list-style-type: decimal;
}

.individual-clinicalOverview {
  line-height: 19.5px;
}

.individual-clinicalOverview li {
  list-style-type: decimal;
  margin-left: 14px;
}

.individual-clinicalOverview ol {
  list-style-type: decimal;
}

.individual-teachingOverview {
  line-height: 19.5px;
}

.individual-teachingOverview li {
  list-style-type: decimal;
  margin-left: 14px;
}

.individual-teachingOverview ol {
  list-style-type: decimal;
}

.individual-leadershipPositions {
  line-height: 19.5px;
}

.individual-leadershipPositions li {
  list-style-type: decimal;
  margin-left: 14px;
}

.individual-leadershipPositions ol {
  list-style-type: decimal;
}

.individual-mentorOverview {
  line-height: 19.5px;
}

.individual-mentorOverview li {
  list-style-type: decimal;
  margin-left: 14px;
}

.individual-mentorOverview li {
  list-style-type: decimal;
  margin-left: 14px;
}

li {
  list-style-type: none;
}

textarea#embed {
  width: 90%;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #c7c9ca;
  padding: 3px;
  margin-bottom: 3px
}

#embedDescription {
  background-color: #DCE4E3;
  margin-right: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #c7c9ca;
  margin-bottom: 3px
}
